In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
pclass       1009 non-null float64
survived     1009 non-null float64
name         1009 non-null object
sex          1009 non-null object
age          812 non-null float64
sibsp        1009 non-null float64
parch        1009 non-null float64
ticket       1009 non-null object
fare         1008 non-null float64
cabin        229 non-null object
embarked     1008 non-null object
boat         374 non-null object
body         98 non-null float64
home.dest    582 non-null object
dtypes: float64(7), object(7)
memory usage: 110.4+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
data['Sex'] = le.fit_transform(data['sex'])

In [7]:
data_clean = data.drop(['name', 'fare', 'cabin', 'boat', 'body','home.dest','sex','ticket','embarked'],axis=1)

In [8]:
data_clean

      pclass  survived   age  sibsp  parch  Sex
0        3.0       0.0   NaN    0.0    0.0    0
1        2.0       0.0  39.0    0.0    0.0    1
2        2.0       1.0  40.0    0.0    0.0    0
3        3.0       1.0  31.0    1.0    1.0    0
4        3.0       1.0   NaN    2.0    0.0    0
5        2.0       0.0  16.0    0.0    0.0    1
6        2.0       0.0  43.0    0.0    1.0    1
7        1.0       1.0  49.0    0.0    0.0    0
8        1.0       0.0  48.0    0.0    0.0    1
9        2.0       0.0   NaN    0.0    0.0    1
10       2.0       0.0  21.0    2.0    0.0    1
11       3.0       1.0   NaN    0.0    0.0    0
12       2.0       1.0  48.0    0.0    2.0    0
13       2.0       1.0   8.0    1.0    1.0    1
14       3.0       0.0  22.0    0.0    0.0    1
15       1.0       0.0   NaN    0.0    0.0    1
16       1.0       1.0  39.0    1.0    1.0    0
17       3.0       0.0  30.5    0.0    0.0    0
18       2.0       0.0   NaN    0.0    0.0    1
19       3.0       0.0  16.0    2.0    0.0    1
20       1.0       1.0  55.0    2.0    0.0    0
21       1.0       1.0  80.0    0.0    0.0    1
22       2.0       1.0  17.0    0.0    0.0    0
23       2.0       1.0  28.0    0.0    0.0    0
24       3.0       0.0  21.0    0.0    0.0    1
25       2.0       0.0  52.0    0.0    0.0    1
26       3.0       1.0  21.0    0.0    0.0    1
27       1.0       0.0  47.0    0.0    0.0    1
28       3.0       0.0   9.0    2.0    2.0    0
29       3.0       0.0   8.0    4.0    1.0    1
...      ...       ...   ...    ...    ...  ...
979      3.0       0.0  36.0    1.0    0.0    1
980      3.0       0.0  21.0    0.0    0.0    1
981      3.0       1.0  27.0    0.0    1.0    0
982      2.0       0.0  36.0    0.0    0.0    1
983      3.0       0.0  21.0    2.0    0.0    1
984      2.0       1.0  34.0    0.0    0.0    0
985      1.0       1.0  55.0    0.0    0.0    0
986      3.0       1.0   NaN    1.0    1.0    1
987      1.0       1.0  39.0    1.0    0.0    0
988      3.0       0.0  24.0    0.0    0.0    1
989      3.0       0.0   NaN    0.0    0.0    0
990      3.0       1.0  20.0    0.0    0.0    1
991      1.0       1.0  33.0    1.0    0.0    0
992      3.0       1.0   NaN    0.0    0.0    0
993      1.0       1.0  45.0    1.0    0.0    0
994      3.0       1.0  23.0    0.0    0.0    0
995      2.0       1.0   1.0    0.0    2.0    1
996      3.0       0.0  34.5    0.0    0.0    1
997      3.0       0.0  32.0    0.0    0.0    1
998      2.0       1.0  19.0    0.0    0.0    0
999      1.0       1.0  35.0    0.0    0.0    0
1000     3.0       0.0  28.0    1.0    1.0    0
1001     2.0       0.0  40.0    0.0    0.0    1
1002     1.0       1.0  22.0    0.0    1.0    0
1003     3.0       0.0  25.0    0.0    0.0    1
1004     1.0       1.0  40.0    0.0    0.0    1
1005     3.0       0.0  37.0    0.0    0.0    0
1006     1.0       1.0  23.0    1.0    0.0    0
1007     3.0       1.0  12.0    1.0    0.0    1
1008     3.0       0.0  30.0    0.0    0.0    1

[1009 rows x 6 columns]

In [9]:
data_clean = data_clean.fillna(data_clean['age'].mean())

In [10]:
data_clean.head(n=15)

    pclass  survived        age  sibsp  parch  Sex
0      3.0       0.0  29.838978    0.0    0.0    0
1      2.0       0.0  39.000000    0.0    0.0    1
2      2.0       1.0  40.000000    0.0    0.0    0
3      3.0       1.0  31.000000    1.0    1.0    0
4      3.0       1.0  29.838978    2.0    0.0    0
5      2.0       0.0  16.000000    0.0    0.0    1
6      2.0       0.0  43.000000    0.0    1.0    1
7      1.0       1.0  49.000000    0.0    0.0    0
8      1.0       0.0  48.000000    0.0    0.0    1
9      2.0       0.0  29.838978    0.0    0.0    1
10     2.0       0.0  21.000000    2.0    0.0    1
11     3.0       1.0  29.838978    0.0    0.0    0
12     2.0       1.0  48.000000    0.0    2.0    0
13     2.0       1.0   8.000000    1.0    1.0    1
14     3.0       0.0  22.000000    0.0    0.0    1

In [19]:
pd.DataFrame?

In [11]:
Xt = pd.DataFrame(data = {'pclass': data_clean['pclass'], 'age':data_clean['age'], 'sibsp':data_clean['sibsp'],'parch':data_clean['parch'], 'sex':data_clean['Sex']})

In [12]:
X_train = Xt.iloc[:, ].values

In [13]:
Y_train = data_clean.iloc[:,1].values

In [14]:
len(X_train)

1009

In [15]:
len(Y_train)

1009

In [16]:
df = pd.read_csv('test.csv')

In [17]:
len(df)

300

In [18]:
df = df.drop(['name', 'fare', 'cabin', 'boat', 'body','home.dest','ticket','embarked'],axis=1)

In [19]:
df = df.fillna(df['age'].mean())

In [20]:
df

     pclass     sex        age  sibsp  parch
0       1.0    male  36.000000    0.0    0.0
1       3.0  female  30.027422    8.0    2.0
2       1.0    male  30.027422    0.0    0.0
3       2.0    male  34.000000    0.0    0.0
4       2.0    male  28.000000    0.0    0.0
5       2.0  female  31.000000    1.0    1.0
6       1.0    male  40.000000    0.0    0.0
7       3.0    male  30.027422    0.0    0.0
8       3.0    male  22.000000    0.0    0.0
9       1.0    male  30.000000    0.0    0.0
10      3.0    male  30.027422    0.0    0.0
11      3.0    male  30.027422    1.0    0.0
12      1.0    male  31.000000    0.0    0.0
13      3.0    male  30.027422    0.0    0.0
14      2.0  female  19.000000    1.0    0.0
15      3.0    male  30.027422    0.0    0.0
16      3.0    male  30.027422    1.0    0.0
17      2.0  female  34.000000    0.0    0.0
18      3.0  female  30.027422    0.0    0.0
19      2.0    male  16.000000    0.0    0.0
20      1.0  female  22.000000    0.0    0.0
21      3.0    male  21.000000    0.0    0.0
22      3.0  female  39.000000    1.0    5.0
23      2.0    male  19.000000    0.0    0.0
24      3.0    male  26.000000    2.0    0.0
25      2.0  female  44.000000    1.0    0.0
26      3.0  female  21.000000    2.0    2.0
27      3.0  female  30.027422    0.0    0.0
28      1.0  female  42.000000    0.0    0.0
29      1.0    male  30.027422    0.0    0.0
..      ...     ...        ...    ...    ...
270     2.0  female  42.000000    0.0    0.0
271     1.0    male  24.000000    1.0    0.0
272     3.0    male  27.000000    0.0    0.0
273     1.0    male  42.000000    0.0    0.0
274     3.0  female  41.000000    0.0    2.0
275     3.0    male  30.027422    0.0    0.0
276     3.0    male  33.000000    0.0    0.0
277     1.0    male  30.027422    0.0    0.0
278     2.0  female  28.000000    1.0    0.0
279     3.0    male  32.000000    0.0    0.0
280     3.0  female   4.000000    0.0    1.0
281     3.0    male  30.027422    0.0    0.0
282     2.0  female  41.000000    0.0    1.0
283     1.0    male  36.000000    1.0    2.0
284     3.0  female  30.027422    0.0    0.0
285     1.0    male  55.000000    0.0    0.0
286     3.0    male  27.000000    0.0    0.0
287     1.0  female  22.000000    0.0    2.0
288     1.0  female  40.000000    1.0    1.0
289     1.0    male  45.000000    1.0    0.0
290     3.0  female  22.000000    0.0    0.0
291     1.0    male  25.000000    1.0    0.0
292     3.0  female  37.000000    0.0    0.0
293     3.0    male  36.500000    1.0    0.0
294     2.0    male  30.000000    0.0    0.0
295     3.0  female  29.000000    0.0    0.0
296     1.0  female  39.000000    1.0    1.0
297     3.0    male  13.000000    4.0    2.0
298     3.0    male  30.027422    2.0    0.0
299     3.0  female  30.027422    0.0    0.0

[300 rows x 5 columns]

In [21]:
df['sex'] = le.fit_transform(df['sex'])

In [22]:
X_test = df.iloc[:,].values

In [23]:
dt = DecisionTreeClassifier(criterion='entropy')

In [24]:
dt.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [25]:
dt.score(X_train, Y_train)

0.8969276511397423

In [26]:
y_pred = dt.predict(X_test)

In [27]:
from sklearn.ensemble import AdaBoostClassifier

In [28]:
ada = AdaBoostClassifier(base_estimator=dt, n_estimators=180, random_state=1)

In [29]:
ada.fit(X_train, Y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='entropy',
                                                         max_depth=None,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=180, random_state=1)

In [30]:
yp = ada.predict(X_test)

In [31]:
l = []
lt = len(y_pred)
for i in range(lt):
    l.append(i)

In [32]:
ds = pd.DataFrame(data = l, columns = ['Id'])

In [33]:
ds['survived'] = yp

In [34]:
ds2 = pd.DataFrame(data = l, columns = ['Id'])
ds2['survived'] = y_pred

In [35]:
ds.to_csv("S1prediction.csv", index = False)

In [36]:
ds2.to_csv("s2prediction.csv", index=False)

In [37]:
ada.score(X_train, Y_train)

0.8969276511397423

In [38]:
dt.score(X_train, Y_train)

0.8969276511397423

In [39]:
df = df.drop(['parch'], axis = 1)